NODE_ENV=development
MONGO_URI=mongodb://atlas-sql-69c537ebf40025309dd7a358-46wnps.a.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
PORT=5000
FRONTEND_URL=http://localhost:5173
MAX_FILE_SIZE_MB=10
JWT_SECRET=change_this_to_long_random_string
JWT_EXPIRES_IN=7d
